attrs==21.2.0
Automat==20.2.0
certificates==1.0.7
click==8.0.1
constantly==15.1.0
dnspython==1.16.0
Flask==2.0.1
gunicorn==20.1.0
hyperlink==21.0.0
idna==3.3
incremental==21.3.0
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
pymongo==4.0
six==1.16.0
srv==1.1.0
Twisted==21.7.0
typing_extensions==4.0.0
Werkzeug==2.0.1
zope.interface==5.4.0
